.Body{
    font-size: 14px;
    width: 60%;
    margin-left: 20%;
  }
  .card{
    max-width: 600px;
    text-align: left;
    margin-top: 30px;
  }
  .slds-box{
    border: none;
    padding-top: 0px;
  }
  lightning-button.Send{
    --sds-c-button-brand-color-background: red;
    --sds-c-button-brand-color-border:#1dc6ad;
    background-color: red;
    float: right;
  }
  
  .success-message {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .files{
    margin-left: 1rem;
  }
  
  .slds-form-element__help{
    display: none;
  }
  
  :host ::slotted(.slds-form-element__help) {
    display: none;
  }
  
  /* remove the "or drop files" label from the right of the lightning:input type file */
  .THIS .slds-file-selector__dropzone .slds-file-selector__text{
  display: none;
  }
  
  /* remove the "Upload Files" text from the button of the lightning:input type file */
  .THIS .slds-file-selector__dropzone .slds-file-selector__button{
  font-size: 0;
  }
  
  /* insert the text "New Exam" into the button of the lightning:input type file */
  .THIS .slds-file-selector__dropzone .slds-file-selector__button:after{
  content: 'New Exam';
  font-size: .8125rem;
  color: rgba(27, 82, 151, 1.0);
  }